#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    js_dir: "{project_root}"
    doc_root: "{data_root}/www"
    domain: "{fqdn}"
    server_aliases: []
    nginx_top: salt://makina-projects/{name}/files/nginx.top.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
# vim:set ft=sls:
